*{margin: 0;padding: 0;}
a{text-decoration: none;}
input{font-size: 20px;border: none;background: #F2F4F5;outline: none;width: 80%;padding-left: 5px;}
.iconfont{font-size: 28px;}
.icon-chaxun{font-size: 22px;padding: 0 5px;display: flex;align-items: center;}
.icon-taobao{color: #FE4600;}
#main{width: 500px;margin: 0 auto;padding: 4px;}
#main .header{display: flex;justify-content: space-around;margin-bottom: 5px;}
#main .header .from{width: 60%;background: #F2F4F5;display: flex;align-items: center;border-radius: 8px;}
#main .header .iconfont{display: flex;align-items: center;}
#main .body{background-color: #F2F4F5;height: 100%;margin-top: 4px;}
#main .body .plate01{margin: 5px;padding: 5px;;display: flex;justify-content: space-around;text-align: center;}
#main .fotter{height: 100px;background: #4E525E;}
#main .fotter .stat .btn{display: flex;justify-content: space-around;}
#main .fotter .stat p{text-align: center;color: #C0C3C7;position: relative;top:15px;font-size: 12px;}
#main .fotter .stat .btn button{background: #555965;border: 1px #555965 solid;width: 80px;color: #C0C3C7;height: 35px;margin: 15px;}
/*#main .body .comm{height: 50px;background-color: red;}*/
#main .body .comm .img{text-align: center;margin: 5px;}
#like{margin: 5px;width: 250.18399999999997px;height: 31.736000000000004px;}
#main .body .comm .content .shopping{font-size: 17px;margin: 10px;display: flex;justify-content: space-around;}
#main .body .comm .content .shopping div{width: 45%;height: 310px;border: 0px solid;border-radius: 15px;overflow: hidden;background-color: #ffffff;}
small{color: #999999;font-size: 15px;}
#main .body .comm .content .shopping div p{float: left;color:#ff5500;font-size: 23px;}